# Исследование надежности заемщиков

## Описание проекта

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.
Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

## Описание данных

* children — количество детей в семье
* days_employed — общий трудовой стаж в днях
* dob_years — возраст клиента в годах
* education — уровень образования клиента
* education_id — идентификатор уровня образования
* family_status — семейное положение
* family_status_id — идентификатор семейного положения
* gender — пол клиента
* income_type — тип занятости
* debt — имел ли задолженность по возврату кредитов
* total_income — ежемесячный доход
* purpose — цель получения кредита

## План работ

* Открыть таблицу и изучить общую информацию о данных
* Предобработка данных
* Анализ данных
* Вывод

## Изучение данных

Импортируем библиотеку pandas. Считаем данные из csv-файла в датафрейм и сохраним в переменную 'data'. Выведем первые 20 строчек:

In [1]:
import pandas as pd
try:
    data = pd.read_csv('data.csv')
    print('local')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')
data.head(20)

local

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [2]:
 data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

Взглянув даже поверхностно можем увидеть, что имеются пропуски, некорректные данные (количество дней *days_employed* не может быть отрицательным), неявные дубликаты в колонке *education*. Все эти проблемы надо обработать.

## Предобработка данных

### Удаление пропусков

Выведем количество пропущенных значений для каждого столбца. Используем комбинацию двух методов.

In [3]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

В двух столбцах есть пропущенные значения. Один из них `total_income` — хранит данные о доходах, а `days_employed` - количество отработанных дней. На эти показатели сильнее всего влияет тип занятости, поэтому заполнить пропуски в этих столбцах нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.

In [4]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [6]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

Убедились, что все пропуски обработаны.

### Обработка аномальных значений

В данных встречаются и артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Заменим все отрицательные значения положительными с помощью метода `abs()`.

In [7]:
data['days_employed'] = data['days_employed'].abs()
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

Для каждого типа занятости выведем медианное значение трудового стажа `days_employed` в днях.

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставим их пока как есть.

Выведем перечень уникальных значений столбца `children`.

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

В столбце `children` есть два аномальных значения. Удалим строки, в которых встречаются такие аномальные значения из датафрейма `data`.

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

Убедились, что артефакты удалены.

### Изменение типов данных

Заменим вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`

In [12]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

Обработаем неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведем их к нижнему регистру.

In [13]:
data['education'] = data['education'].str.lower()

Выведем на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалим их

In [14]:
data.duplicated().sum()

71

In [15]:
data = data.drop_duplicates()
data.duplicated().sum()

0

### Категоризация данных

На основании диапазонов, указанных ниже, создадим в датафрейме `data` столбец `total_income_category` с категориями:

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используем собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [16]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [17]:
data['total_income_category'] = data['total_income'].apply(categorize_income)
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C

Выведем на экран перечень уникальных целей взятия кредита из столбца `purpose`.

In [18]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создадим функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

Используем собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучим данные в столбце `purpose` и определим, какие подстроки помогут вам правильно определить категорию.

In [19]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [20]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы

## Исследуем данные и ответим на вопросы

### Есть ли зависимость между количеством детей и возвратом кредита в срок?

Cоздадим датафрейм,столбцами которого будут сгруппированные по количеству детей данные: 
1) количество людей с таким количеством детей 
2) сумма просрочек у людей с таким количеством детей  
3) отношение суммы просрочек на количество людей, показывает какой процент с текущим количеством детей имеет задолженность по кредиту

In [21]:
data_group_children = pd.DataFrame()
data_group_children['count_people'] = data.groupby('children')['debt'].count()
data_group_children['sum_debt'] = data.groupby('children')['debt'].sum()
data_group_children['result,%'] = 100.0 * data_group_children['sum_debt']/data_group_children['count_people']
data_group_children.sort_values(by='result,%', ascending=False)

          count_people  sum_debt  result,%
children
4                   41         4  9.756098
2                 2052       194  9.454191
1                 4808       444  9.234609
3                  330        27  8.181818
0                14091      1063  7.543822
5                    9         0  0.000000

**Вывод:** Количество детей **влияет** на возврат кредита в срок. Чем больше детей, тем чаще случается задолженность по кредиту. Из закономерности выпадают случаи заемщиков с 3 детьми (процент просрочек меньше, чем для людей с 1 и 2 детьми) и с 5 детьми (совсем нет просрочек). Скорее всего это связано с недостаточно большой выборкой данных.

### Есть ли зависимость между семейным положением и возвратом кредита в срок?

Cоздадим датафрейм, столбцами которого будут сгруппированные по семейному положению данные: 
1) количество людей с таким семейным положением 
2) сумма просрочек у людей с таким семейным положением 
3) отношение суммы просрочек на количество людей, показывает какой процент заемщиков с текущим семейным положением имеет задолженность по кредиту

In [22]:
data_group_family_status = pd.DataFrame()
data_group_family_status['count_people'] = data.groupby('family_status')['debt'].count()
data_group_family_status['sum_debt'] = data.groupby('family_status')['debt'].sum()
data_group_family_status['result,%'] = 100.0 * data_group_family_status['sum_debt']/data_group_family_status['count_people']
data_group_family_status=data_group_family_status.sort_values(by=['result,%'],ascending = False)
data_group_family_status.sort_values(by='result,%', ascending=False)

                       count_people  sum_debt  result,%
family_status
Не женат / не замужем          2796       273  9.763948
гражданский брак               4134       385  9.313014
женат / замужем               12261       927  7.560558
в разводе                      1189        84  7.064760
вдовец / вдова                  951        63  6.624606

**Вывод:** Зависимость между семейным положением и возвратом кредита в срок **есть**. Люди которые не в браке и которые никогда в браке на состояли чаще имеют задолженность по кредиту.

### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Cоздадим датафрейм, столбцами которого будут сгруппированные по диапазонам доходов данные: 
1) количество людей в таком диапазоне доходов 
2) сумма просрочек у людей с таким доходом 
3) отношение суммы просрочек на количество людей, показывает какой процент людей в текущем диапазоне доходов имеет задолженность по кредиту

In [23]:
data_group_income_category = pd.DataFrame()
data_group_income_category['count_people'] = data.groupby('total_income_category')['debt'].count()
data_group_income_category['sum_debt'] = data.groupby('total_income_category')['debt'].sum()
data_group_income_category['result,%'] = 100.0 * data_group_income_category['sum_debt']/data_group_income_category['count_people']
data_group_income_category.sort_values(by='result,%', ascending=False)

                       count_people  sum_debt  result,%
total_income_category
E                                22         2  9.090909
C                             15921      1353  8.498210
A                                25         2  8.000000
B                              5014       354  7.060231
D                               349        21  6.017192

**Вывод:** Зависимость между уровнем дохода и возвратом кредита в срок **не прослеживается** хотя низкий доход это несомненно неблагоприятный фактор. Скорее всего это связано с размером кредита (чем выше доход, тем выше сумма кредита) и разбиение на группы по доходам не очень корректное.

### Как разные цели кредита влияют на его возврат в срок?

Создадим датафрейм, столбцами которого будут сгруппированные по целям кредита данные: 
1) Количество людей с такой целью кредита 
2) Сумма просрочек у людей с такой целью 
3) Отношение суммы просрочек на количество людей, показывает какой процент людей с текущей целью кредита имеет задолженность по кредиту

In [24]:
data_group_purpose = pd.DataFrame()
data_group_purpose['count_people'] = data.groupby('purpose_category')['debt'].count()
data_group_purpose['sum_debt'] = data.groupby('purpose_category')['debt'].sum()
data_group_purpose['result,%'] = 100.0 * data_group_purpose['sum_debt']/data_group_purpose['count_people']
data_group_purpose = data_group_purpose.sort_values(by = ['result,%'],ascending = False)
data_group_purpose.sort_values(by='result,%', ascending=False)

                          count_people  sum_debt  result,%
purpose_category
операции с автомобилем            4279       400  9.347978
получение образования             3988       369  9.252758
проведение свадьбы                2313       183  7.911803
операции с недвижимостью         10751       780  7.255139

**Вывод:** Кредиты, взятые для операций с автомобилями и на получение образования, чаще всего просрачиваются. Реже всего просрачиваются кредиты, предназначенные для операций с недвижимостью.

### Приведем возможные причины появления пропусков в исходных данных.

Вспомним как выглядели данные в изначальном виде:

In [25]:
try:
    data_null = pd.read_csv('data.csv')
except:
    data_null = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')
data_null.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

В каких столбцах есть пропуски:

In [26]:
data_null.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

Пропуски есть в двух столбцах `days_employed` и `total_income`

Узнаем как выглядят строки, где пропущены значения

In [27]:
if pd.isnull(data_null['days_employed']).equals(other=pd.isnull(data_null['total_income'])):
    print('Номера строк пропусков в столбцах \'days_employed\' и \'total_income\' совпадают')
else:
    print('Номера строк пропусков в столбцах \'days_employed\' и \'total_income\' НЕ совпадают')

data_null['NAN'] = pd.isnull(data_null['days_employed'])

data_null_row = data_null.loc[data_null['NAN']== True,:]
data_null_row.head(20)

Номера строк пропусков в столбцах 'days_employed' и 'total_income' совпадают

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,NAN
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу,True
26,0,NaN,41,среднее,1,женат / замужем,0,M,госслужащий,0,NaN,образование,True
29,0,NaN,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,NaN,строительство жилой недвижимости,True
41,0,NaN,50,среднее,1,женат / замужем,0,F,госслужащий,0,NaN,сделка с подержанным автомобилем,True
55,0,NaN,54,среднее,1,гражданский брак,1,F,пенсионер,1,NaN,сыграть свадьбу,True
65,0,NaN,21,среднее,1,Не женат / не замужем,4,M,компаньон,0,NaN,операции с коммерческой недвижимостью,True
67,0,NaN,52,высшее,0,женат / замужем,0,F,пенсионер,0,NaN,покупка жилья для семьи,True
72,1,NaN,32,высшее,0,женат / замужем,0,M,госслужащий,0,NaN,операции с коммерческой недвижимостью,True
82,2,NaN,50,высшее,0,женат / замужем,0,F,сотрудник,0,NaN,жилье,True
83,0,NaN,52,среднее,1,женат / замужем,0,M,сотрудник,0,NaN,жилье,True
90,2,NaN,35,высшее,0,женат / замужем,0,F,сотрудник,0,NaN,операции с жильем,True
94,1,NaN,34,высшее,0,гражданский брак,1,F,компаньон,0,NaN,на проведение свадьбы,True
96,0,NaN,44,СРЕДНЕЕ,1,женат / замужем,0,F,сотрудник,0,NaN,покупка жилой недвижимости,True
97,0,NaN,47,высшее,0,женат / замужем,0,F,сотрудник,0,NaN,профильное образование,True
120,0,NaN,46,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,высшее образование,True
121,0,NaN,29,высшее,0,женат / замужем,0,F,компаньон,0,NaN,автомобиль,True
135,0,NaN,27,среднее,1,женат / замужем,0,M,компаньон,0,NaN,жилье,True
141,0,NaN,39,среднее,1,гражданский брак,1,M,сотрудник,0,NaN,свадьба,True
145,0,NaN,62,среднее,1,женат / замужем,0,M,пенсионер,0,NaN,строительство недвижимости,True
174,0,NaN,55,высшее,0,вдовец / вдова,2,F,компаньон,0,NaN,свой автомобиль,True

Никакой закономерности не прослеживается в данных в других столбцах

**Ответ:** пропуски есть только в двух стобцах: days_employed и total_income. Причем пропуски для обоих столбцов в одних и тех же строках. После просмотра строк с пропусками никакая закономерность не вывелась. Скорее всего вина оператора, который, заполняя данные заемщика, иногда пропускает раздел с данными стажа и дохода, но так как пропуски в одних и тех же строках, то скорее всего эти данные заполняются в каком то одном разделе и пропускается этот раздел полностью. Второй вариант, данные о стаже и доходе поступают из одного источника (базы), и или эта база была заполнена с пропусками изначально(опять же человеческий фактор), или передача данных из нее происходила с ошибками (с техническими проблемами).

### Объяснение, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

**Ответ:** На *медианные* значения меньше влияют случайные выбросы и шум.

## Общий вывод

1.**Семейное положение** влияет на вероятность платежей по кредиту в срок - люди, которые были в браке чаще плятят в срок чем те, кто не бывали в браке, причем разведенные и овдовевшие платят в срок чаще, чем люди в браке.   
2.**Количество детей**. Чем больше у заемщика детей, тем чаще он платит не в срок. Бездетные реже всех просрачивают оплату.  
3.**Уровень дохода**. Зависимость между уровнем дохода и возвратом кредита в срок не прослеживается.  
4.**Цель кредита**. Кредиты, взятые для операций с автомобилями и на получение образования, чаще всего просрачиваются. Реже всего просрачиваются кредиты, предназначенные для операций с недвижимостью.